# Flutter/Dart
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock
**/ios/Flutter/.last_build_id
**/ios/.generated/
**/ios/Pods/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/local.properties
**/android/GeneratedPluginRegistrant.java
**/android/key.properties
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws
**/.metadata

# PHP
**/vendor/
**/.env
**/composer.lock

# Arduino
**/libraries/
**/build_arduino/
**/*.bin
**/*.elf
**/*.hex

# OS files
.DS_Store
Thumbs.db

# Other
analyze_output.txt
sonar-project.properties (if you want to keep it local)
